.banner {
    background: url('images/banner-image.jpg');
    height: 500px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 50px;
    flex-direction: column;
}

.main-header {
    color: #edf5e1;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    filter: drop-shadow(10px 3px 7px black);
}

.subheader {
    color: #edf5e1;
    font-size: 50px;
    font-weight: 600;
    text-align: end;
    filter: drop-shadow(10px 3px 7px black);
}

.banner {
    margin-bottom: 85px;
}

.introduction {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.introduction p {
    width: 100%;
    white-space: initial;
}

.section-text {
    width: 40%;
}

.section-text h2 {
    font-size: 44px;
    font-weight: 900;
}

.section-text p {
    font-size: 24px;
}

.introduction-article {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.introduction-article:nth-child(2) {
    flex-direction: row-reverse;
    margin-top: 123px;
}

.top-articles-header {
    text-transform: uppercase;
    margin-bottom: 28px;
    font-size: 44px;
    font-weight: 900;
}

.articles {
    display: flex;
    justify-content: space-between;
}

.article {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.article-title {
    font-size: 30px;
    font-weight: 600;
}

.article-sumarry {
    font-size: 18px;
}

.top-articles {
    margin: 73px 0 42px 0;
    padding: 0 50px;
}

.mission-image {
    width: 525px;
    height: 363px;
}

.article-image {
    width: 395px; 
    height: 234px;
}