.header {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-top: 127px;
    margin-bottom: 54px;
}

.essentials {
    display: flex;
    justify-content: center;
}

.essential {
    overflow: visible;
    width: 278px;
    height: 340px;
    border-radius: 20px;
    position: relative;
    padding: 15px;
}

.essential:first-of-type {
    background-color: #8ee4af;
}

.essential:nth-of-type(2) {
    background-color: #5cdb95;
}


.essential:nth-of-type(3) {
    background-color: #379683;
}

.essential:nth-of-type(4) {
    background-color: #237f6d;
}

.essential:first-of-type::before {
    border-left-color: #8ee4af;
}

.essential:nth-of-type(2)::before {
    border-left-color: #5cdb95;
}


.essential:nth-of-type(3)::before {
    border-left-color: #379683;
}


.essential:nth-of-type(4)::before {
    border-left-color: #237f6d;
}



.essential::before {
    content: "";
    position: absolute;
    top: 50%;                         
    transform: translateY(-50%);  
    right: -68px;
    border: 34px solid transparent;
    z-index: 1;
}

.essential:last-of-type::before {
    border: none;
}

.card-header {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.card-benefits {
    overflow: visible;
    margin-left: 25px;
}

.card-benefits li {
    margin-bottom: 5px;
    overflow: visible;
    font-size: 18px;
}

.icon {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

a {
    color: black;
}

.scroll-indicator {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.goot-to-haves {
    display: flex;
    justify-content: space-around;
}

.goot-to-have {
    overflow: visible;
    width: 278px;
    height: 340px;
    background-color: #05386b;
    border-radius: 20px;
    margin-bottom: 134px;
    padding: 15px;
}

.goot-to-have {
    color: #edf5e1;
}

.goot-to-have a {
    color: #edf5e1;
    text-decoration: underline;
}